<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/cards.css' %}">
</head>
<body>
   <div class="container-fluid m-0 p-0">
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'elements:index0' %}">EASY</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'elements:index0' %}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'elements:index' %}">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'elements:contacto' %}">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
    {% block content %}
    {% endblock %}
   </div>

    {% block footer %} 
        <footer><p></p></footer>
    {% endblock %}
    
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>