<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
    {% block content %} 

    {% endblock %}

    {% block footer %} 
        <footer><p>2025 - All rights reserved</p></footer>
    {% endblock %}
    
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>