{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="" style="background-image: url('/static/fonts/contacto.jpg'); background-size: cover; background-position: center;">
        <div class="d-flex justify-content-center align-items-center" style="height: 100vh; ">
            <a class="btn btn-success" href="https://api.whatsapp.com/send/?phone=%2B543644369582&text&type=phone_number&app_absent=0"><h2>Contactame por whatsapp</h2></a>
        </div>
        
    </div>

{% endblock %}