{% extends 'base.html' %}

{% block content %}
    <!-- <div class="card">
        <div class="card-header">
            <h1>{{element.title}}</h1>
        </div>
        <div class="card-body">
            <div>{{element.description}}</div>
            <div>{{element.content}}</div>
        </div>
    </div> -->
    


    <!--  -->
   <!-- <div class="container mt-5">
     <div class="card mb-3" style="max-width: 400px;">
  <div class="row g-0">
    <div class="col-md-4 w-100">
      <img src="{{element.image.url}}" class="img-fluid rounded " alt="...">
    </div>
    <div class="container">
      <div class="card-body">
        <h5 class="card-title">{{element.title}}</h5>
        <p class="card-text">{{element.price}}</p>
        <p class="card-text"><small class="text-body-secondary">{{element.created}}</small></p>
        <a href="" class="btn btn-outline-success">Envíanos un mensaje</a>
      </div>
    </div>
  </div>
</div>

   </div> -->
<div class="container d-flex justify-content-center">
     <div class="card" style="width: 50rem;">
  <img src="{{element.image.url}}" class="card-img-top" alt="..." style="max-height: 40rem;">
  <div class="card-body">
    <h5 class="card-title">{{element.title}}</h5>
    <!-- <p class="card-text">{{element.content}}</p> -->
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{element.content}}</li>
    <li class="list-group-item">{{element.description}}</li>
    <li class="list-group-item">${{element.price}}</li>
  </ul>
  <div class="card-body">

      <a href="#" class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Envianos un mensaje</a>
    
  </div>
</div>
</div>

    
    
{% endblock %}