{% extends 'base.html' %}
{% load static %}
{% block title %}Elementos{% endblock %}

{% block content %}
 
       <div class="container">
         <form method="get" class="row mb-5">
        <div class="col-auto">
            <input type="text" name="search" class="form-control" placeholder="Buscar" value={{search}}>
        </div>
        <div class="col-auto">
            <select name="category_id" class="form-select">
                <option value="">Categorias</option>
                {% for c in categories %}
                <option

                    {% if category_id == c.id %}
                    selected
                    {% endif %}

                    value={{c.id}}>
                    {{c.title}}
                </option>
            
                {% endfor %}
            </select>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-dark">Buscar</button>
        </div>
        <div class="col-auto">
            <a href="{% url 'elements:index' %}" class="btn btn-outline-secondary">Limpiar</a>
        </div>
    </form>
         
         <div class="card__container">
            {% for e in elements %}
            <article class="card__article p-5">
               <img src="{{e.image.url}}" alt="image" class="card__img img-fluid border rounded-3 shadow-lg" style="min-height: 15rem; max-height: 15rem; max-width: 19.5rem;">

               <div class="card__data">
                  <span class="card__description">{{e.content}}</span>
                  <h2 class="card__title">{{e.title}}</h2>
                  <a href="{% url 'elements:detail' e.id %}" class="card__button">Comprar ahora</a>
               </div>
            </article>
             {% endfor %}
         </div>
          
      </div>
    
{% include "partials\pagination.html" with page_obj=elements %}
{% endblock %}