{% extends 'base.html' %}
{% load static %}
{% block title %}Elementos{% endblock %}
{% block content %}

    <form method="get" class="row p-2">
        <div class="col-auto">
            <input type="text" name="search" class="form-control" placeholder="Buscar" value={{search}}>
        </div>
        <div class="col-auto">
            <select name="category_id" class="form-select">
                <option value="">Categorias</option>
                {% for c in categories %}
                <option

                    {% if category_id == c.id %}
                    selected
                    {% endif %}

                    value={{c.id}}>
                    {{c.title}}
                </option>
            
                {% endfor %}
            </select>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-dark">Buscar</button>
        </div>
        <div class="col-auto">
            <a href="{% url 'elements:index' %}" class="btn btn-outline-secondary">Limpiar</a>
        </div>
    </form>



    {% for e in elements %}
       
       <!-- <div class="container mt-5 text-center">
         <div class="card mb-3 mx-auto" style="max-width: 900px;">
            <div class="row g-0">
                <div class="col-md-4">
                <img src="{{e.image.url}}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8 d-flex align-items-center">
                <div class="card-body">
                    <h3 class="card-title">{{e.title}}</h3>
                    <p class="card-text">{{e.description}}</p>
                    <p class="card-text">Precio: ${{e.price}}</p>
                    <p class="card-text"><small class="text-body-secondary">{{e.created}}</small></p>
                    <a class="btn btn-sm btn-outline-success" href="{% url 'elements:detail' e.id %}">Comprar ahora</a>
                </div>
                </div>
            </div>
        </div>
       </div> -->

       <div class="container">
         <div class="card__container">
            
            <article class="card__article">
               <img src="assets/img/landscape-3.png" alt="image" class="card__img">

               <div class="card__data">
                  <span class="card__description">Bojcin Forest, Serbia</span>
                  <h2 class="card__title">Path Of Peace</h2>
                  <a href="#" class="card__button">Read More</a>
               </div>
            </article>
            
         </div>
      </div>




     
    {% endfor %}
        {% include "partials\pagination.html" with page_obj=elements %}
{% endblock %}